Repository SpechtLabs/tka, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, server, kubernetes, tailscale, security, tests, config, observability, models, documentation, build

fix markdownlint-cli2 version
  .mise.toml
Labels: none

feat(docs): enhance CLI documentation generation with front matter options
  .github/workflows/docs-website.yaml
  cmd/cli/cmd_documentation.go
  cmd/cli/cmd_documentation_test.go
  internal/cli/cmd/flags.go
Labels: cli, tests, build

fix workflow
  .github/workflows/docs-website.yaml
Labels: build

updates
  docs/.vuepress/config.ts
Labels: documentation

add status badges to readme
  README.md
Labels: documentation

feat(cluster): implement GossipClient and LastWriteWinsState for gossip protocol
  pkg/cluster/client.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/last_write_wins_state_test.go
  pkg/cluster/message.go
  pkg/cluster/mock/node.go
  pkg/cluster/mock/node_test.go
  pkg/cluster/mock/state.go
  pkg/cluster/mock/state_test.go
  pkg/cluster/node.go
  pkg/cluster/state.go
  pkg/test/call_tracker.go
Labels: tests

wip
  .mise.toml
  .vscode/extensions.json
  Makefile
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  cmd/gossip/main.go
  cmd/gossip/server.go
  cmd/gossip/tui.go
  hack/gossip-demo.sh
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/last_write_wins_state_test.go
  pkg/cluster/message.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/mock/node.go
  pkg/cluster/mock/node_test.go
  pkg/cluster/mock/state.go
  pkg/cluster/mock/state_test.go
  pkg/cluster/node.go
  pkg/cluster/state.go
  pkg/cluster/store.go
Labels: tests, config, build

feat(cluster): implement GossipClient and LastWriteWinsState for gossip protocol
  pkg/cluster/client.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/last_write_wins_state_test.go
  pkg/cluster/message.go
  pkg/cluster/mock/node.go
  pkg/cluster/mock/node_test.go
  pkg/cluster/mock/state.go
  pkg/cluster/mock/state_test.go
  pkg/cluster/node.go
  pkg/cluster/state.go
  pkg/test/call_tracker.go
Labels: tests

cleanup
  cmd/gossip/server.go
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/node.go
  pkg/cluster/store.go
Labels: none

use msgpack to serialize state
  go.mod
  go.sum
  pkg/cluster/in_memory_store.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/last_write_wins_state_test.go
  pkg/cluster/node.go
  pkg/cluster/state.go
  pkg/cluster/types.go
Labels: tests, build

make golangci-lint happy
  .vscode/extensions.json
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  cmd/gossip/server.go
  pkg/cluster/client.go
  pkg/cluster/messages.proto
Labels: none

fix state unmarshalling
  pkg/cluster/in_memory_store.go
  pkg/cluster/state.go
  pkg/cluster/types.go
Labels: none

add more tests
  pkg/cluster/in_memory_store.go
  pkg/cluster/in_memory_store_test.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/last_write_wins_state_test.go
Labels: tests

make everything generic
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  cmd/gossip/server.go
  cmd/gossip/tui.go
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/store.go
Labels: none

update go dependencies
  go.mod
  go.sum
Labels: build

configure codecov to exclude auto generated code
  codecov.yml
Labels: none

test release-please
  .github/workflows/build.yaml
  .github/workflows/release.yaml
  .goreleaser.pr.yaml
  .goreleaser.yaml
  CONTRIBUTING.md
Labels: documentation, build

chore(go-mod): updates
  CONTRIBUTING.md
  go.mod
  go.sum
Labels: documentation, build

chore(release): fix release please config
  .github/workflows/release.yaml
  .release-please-config.json
  .release-please-manifest.json
Labels: build

chore(release): fix release please config
  .github/workflows/release.yaml
Labels: build

fix(markdownlint-cli2): exclude CHANGELOG.md from md linting
  .markdownlint-cli2.yaml
Labels: none

chore(deps): Update package-lock.json to fix Missing: sass@1.93.2 from lock file
  docs/package-lock.json
Labels: documentation

cleanup gossip
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/in_memory_store_test.go
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/store.go
Labels: tests

add tracing
  cmd/gossip/main.go
  hack/gossip-demo.sh
  pkg/cluster/client.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
Labels: config

fix more issues in gossip
  hack/gossip-demo.sh
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/store.go
Labels: config

fix: improve gossip further
  .gitignore
  .mise.toml
  cmd/gossip/main.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/messages/messages.pb.go
Labels: none

gossip improvements
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  cmd/gossip/server.go
  cmd/gossip/tui.go
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/node.go
  pkg/cluster/peer_state_test.go
  pkg/cluster/staleness_test.go
  pkg/cluster/store.go
Labels: tests

generate gossip via gRPC service definition
  .mise.toml
  Makefile
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/messages/messages_grpc.pb.go
Labels: build

fix(release-please): include-component-in-ta: false
  .release-please-config.json
Labels: none

chore(deps): update npm packages
  docs/.vuepress/config.ts
  docs/package-lock.json
  docs/package.json
Labels: documentation

fix(mise): downgrade pre-commit
  .mise.toml
Labels: none

feat(cluster): implement GossipClient and LastWriteWinsState for gossip protocol
  pkg/cluster/client.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/last_write_wins_state_test.go
  pkg/cluster/message.go
  pkg/cluster/mock/node.go
  pkg/cluster/mock/node_test.go
  pkg/cluster/mock/state.go
  pkg/cluster/mock/state_test.go
  pkg/cluster/node.go
  pkg/cluster/state.go
  pkg/test/call_tracker.go
Labels: tests

wip
  .mise.toml
  .vscode/extensions.json
  Makefile
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  cmd/gossip/main.go
  cmd/gossip/server.go
  cmd/gossip/tui.go
  hack/gossip-demo.sh
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/last_write_wins_state_test.go
  pkg/cluster/message.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/mock/node.go
  pkg/cluster/mock/node_test.go
  pkg/cluster/mock/state.go
  pkg/cluster/mock/state_test.go
  pkg/cluster/node.go
  pkg/cluster/state.go
  pkg/cluster/store.go
Labels: tests, config, build

cleanup
  cmd/gossip/server.go
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/node.go
  pkg/cluster/store.go
Labels: none

use msgpack to serialize state
  go.mod
  go.sum
  pkg/cluster/in_memory_store.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/last_write_wins_state_test.go
  pkg/cluster/node.go
  pkg/cluster/state.go
  pkg/cluster/types.go
Labels: tests, build

fix state unmarshalling
  pkg/cluster/in_memory_store.go
  pkg/cluster/state.go
  pkg/cluster/types.go
Labels: none

make golangci-lint happy
  .vscode/extensions.json
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  cmd/gossip/server.go
  pkg/cluster/client.go
  pkg/cluster/messages.proto
Labels: none

make everything generic
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  cmd/gossip/server.go
  cmd/gossip/tui.go
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/store.go
Labels: none

add more tests
  pkg/cluster/in_memory_store.go
  pkg/cluster/in_memory_store_test.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/last_write_wins_state_test.go
Labels: tests

add tracing
  cmd/gossip/main.go
  hack/gossip-demo.sh
  pkg/cluster/client.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
Labels: config

.github/labeler.yml:

# API-related files
api:
  - changed-files:
      - any-glob-to-any-file:
          - 'api/**'
          - 'pkg/swagger/**'

# CLI-related files
cli:
  - changed-files:
      - any-glob-to-any-file:
          - 'cmd/cli/**'
          - 'internal/cli/**'

# Server-related files
server:
  - changed-files:
      - any-glob-to-any-file:
          - 'cmd/server/**'
          - 'pkg/service/**'

# Kubernetes/Operator-related files
kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/**'
          - 'pkg/operator/**'
          - 'pkg/client/k8s/**'

# Tailscale integration
tailscale:
  - changed-files:
      - any-glob-to-any-file:
          - 'pkg/tshttp/**'

# Authentication/Security/Middleware
security:
  - changed-files:
      - any-glob-to-any-file:
          - 'pkg/middleware/**'

# Tests
tests:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*_test.go'
          - '**/testdata/**'
          - '**/mock/**'

# Configuration and deployment
config:
  - changed-files:
      - any-glob-to-any-file:
          - 'config.yaml'
          - 'hack/**'

# Observability (metrics, logging)
observability:
  - changed-files:
      - any-glob-to-any-file:
          - 'internal/utils/o11y.go'
          - 'pkg/service/api/metrics.go'
          - 'pkg/operator/metrics.go'

# Models and utilities
models:
  - changed-files:
      - any-glob-to-any-file:
          - 'pkg/models/**'
          - 'pkg/service/models/**'
          - 'internal/utils/**'

# Documentation (Markdown files or docs folders)
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

# Build system files
build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - 'Makefile'
          - 'Dockerfile'
          - 'go.mod'
          - 'go.sum'
          - 'renovate.json'

# Add 'enhancement' label to any PR where the head branch name starts with `feature`
enhancement:
  - head-branch:
    - '^feature'

# Add 'bug' label to any PR where the head branch name starts with `feature`
bug:
  - head-branch:
      - '^bug'
      - '^fix'
