Repository SpechtLabs/tka, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, server, kubernetes, tailscale, security, tests, config, observability, models, documentation, build

.github/labeler.yml:

# API-related files
api:
  - changed-files:
      - any-glob-to-any-file:
          - 'api/**'
          - 'pkg/swagger/**'

# CLI-related files
cli:
  - changed-files:
      - any-glob-to-any-file:
          - 'cmd/cli/**'
          - 'internal/cli/**'

# Server-related files
server:
  - changed-files:
      - any-glob-to-any-file:
          - 'cmd/server/**'
          - 'pkg/service/**'

# Kubernetes/Operator-related files
kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/**'
          - 'pkg/operator/**'
          - 'pkg/client/k8s/**'

# Tailscale integration
tailscale:
  - changed-files:
      - any-glob-to-any-file:
          - 'pkg/tshttp/**'

# Authentication/Security/Middleware
security:
  - changed-files:
      - any-glob-to-any-file:
          - 'pkg/middleware/**'

# Tests
tests:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*_test.go'
          - '**/testdata/**'
          - '**/mock/**'

# Configuration and deployment
config:
  - changed-files:
      - any-glob-to-any-file:
          - 'config.yaml'
          - 'hack/**'

# Observability (metrics, logging)
observability:
  - changed-files:
      - any-glob-to-any-file:
          - 'internal/utils/o11y.go'
          - 'pkg/service/api/metrics.go'
          - 'pkg/operator/metrics.go'

# Models and utilities
models:
  - changed-files:
      - any-glob-to-any-file:
          - 'pkg/models/**'
          - 'pkg/service/models/**'
          - 'internal/utils/**'

# Documentation (Markdown files or docs folders)
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

# Build system files
build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - 'Makefile'
          - 'Dockerfile'
          - 'go.mod'
          - 'go.sum'
          - 'renovate.json'

# Add 'enhancement' label to any PR where the head branch name starts with `feature`
enhancement:
  - head-branch:
    - '^feature'

# Add 'bug' label to any PR where the head branch name starts with `feature`
bug:
  - head-branch:
      - '^bug'
      - '^fix'

fix more issues in gossip
  hack/gossip-demo.sh
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/store.go
Labels: config

configure codecov to exclude auto generated code
  codecov.yml
Labels: none

cleanup gossip
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/in_memory_store_test.go
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/store.go
Labels: tests

fix: improve gossip further
  .gitignore
  .mise.toml
  cmd/gossip/main.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/messages/messages.pb.go
Labels: none

gossip improvements
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  cmd/gossip/server.go
  cmd/gossip/tui.go
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/node.go
  pkg/cluster/peer_state_test.go
  pkg/cluster/staleness_test.go
  pkg/cluster/store.go
Labels: tests

generate gossip via gRPC service definition
  .mise.toml
  Makefile
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/messages/messages_grpc.pb.go
Labels: build

chore(deps): go mod tidy
  go.mod
Labels: build

Apply suggestions from code review
  pkg/cluster/in_memory_store.go
  pkg/cluster/state.go
Labels: none

wip
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
Labels: none

cleanup gossip implementation
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/messages/messages_grpc.pb.go
  pkg/cluster/store.go
Labels: none

cleanup gossip implementation
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  cmd/gossip/server.go
  cmd/gossip/tui.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/in_memory_store_test.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/last_write_wins_state_test.go
  pkg/cluster/peer_state_test.go
  pkg/cluster/staleness_test.go
  pkg/cluster/state.go
  pkg/cluster/types.go
Labels: tests

split tshttp into http and an abstracted tailscale server implementation for better maintainablity and testability
  cmd/server/serve.go
  pkg/middleware/auth/gin.go
  pkg/middleware/auth/gin_test.go
  pkg/middleware/auth/options.go
  pkg/service/api/kubeconfig.go
  pkg/service/api/login.go
  pkg/service/api/logout.go
  pkg/service/api/metrics.go
  pkg/service/api/options.go
  pkg/service/api/server.go
  pkg/tshttp/integration_test.go
  pkg/tshttp/options.go
  pkg/tshttp/server.go
  pkg/tshttp/tailscale_test.go
  pkg/tshttp/tsnet_adapter.go
  pkg/tsnet/interfaces.go
  pkg/tsnet/mock/tsnet.go
  pkg/tsnet/mock/whois_resolver.go
  pkg/tsnet/tsnet.go
  pkg/tsnet/util.go
Labels: server, tailscale, security, tests, observability

implement gossip clustering in tka
  cmd/server/serve.go
  config.yaml
  pkg/service/api/memberlist.go
  pkg/service/api/options.go
  pkg/service/api/server.go
  pkg/service/api/templates/memberlist.html
  pkg/service/node_metadata.go
Labels: server, config

chore: update GitHub Actions workflow and GoReleaser configuration for Docker builds
  .github/workflows/build.yaml
  .goreleaser.yaml
  Dockerfile
  Makefile
Labels: build

fix
  pkg/service/api/server.go
Labels: server

fix markdown
  .markdownlint-cli2.yaml
  README.md
  docs/getting-started/comprehensive.md
  docs/getting-started/quick.md
  docs/guides/use-subshell.md
  docs/reference/configuration.md
Labels: documentation

fix gofmt
  cmd/gossip/tui.go
  docs/getting-started/quick.md
Labels: documentation

fix markdown
  docs/getting-started/quick.md
Labels: documentation

fix api route for gossiping
  pkg/service/api/server.go
Labels: server

fix documentation
  docs/getting-started/troubleshooting.md
  docs/guides/autocompletion.md
  docs/guides/shell-integration.md
  docs/guides/troubleshooting.md
  docs/guides/use-subshell.md
  docs/reference/api.md
  docs/reference/developer/request-flows.md
  docs/reference/developer/shell-integration.md
  docs/reference/developer/tailscale-server.md
  docs/understanding/architecture.md
  pkg/operator/operations.go
  pkg/operator/operator.go
  pkg/service/api/server.go
Labels: server, kubernetes, documentation

Revert "fix api route for gossiping"
  pkg/service/api/server.go
Labels: server

fix
  pkg/service/api/server.go
Labels: server

more fixes
  cmd/gossip/tui.go
  cmd/server/serve.go
  docs/.vuepress/config.ts
  docs/.vuepress/navbar.ts
  docs/.vuepress/public/swagger.json
  docs/getting-started/clustering.md
  docs/reference/configuration.md
  docs/reference/developer/architecture.md
  docs/reference/developer/request-flows.md
  docs/reference/developer/tailscale-server.md
  docs/understanding/architecture.md
  docs/understanding/clustering.md
  pkg/cluster/in_memory_store.go
  pkg/cluster/in_memory_store_test.go
  pkg/cluster/store.go
  pkg/service/api/memberlist.go
  pkg/service/api/options.go
  pkg/service/api/server.go
  pkg/service/api/server_test.go
  pkg/service/api/templates/memberlist.html
  pkg/service/docs.go
  pkg/service/models/node_metadata.go
  pkg/service/node_metadata.go
  pkg/swagger/docs.go
  pkg/swagger/swagger.json
  pkg/swagger/swagger.yaml
Labels: api, server, tests, models, documentation

more fixes
  .pre-commit-config.yaml
  docs/.vuepress/public/swagger.json
  docs/getting-started/clustering.md
  docs/reference/configuration.md
  docs/understanding/clustering.md
  pkg/swagger/docs.go
Labels: api, documentation

update package-lock
  docs/package-lock.json
Labels: documentation

implement wide-events logging
  cmd/server/serve.go
  internal/cli/pretty_print/error.go
  internal/utils/o11y.go
  pkg/middleware/auth/gin.go
  pkg/models/api_error.go
  pkg/operator/operations.go
  pkg/operator/operator.go
  pkg/operator/reconcile.go
  pkg/service/api/kubeconfig.go
  pkg/service/api/login.go
  pkg/service/api/logout.go
  pkg/tshttp/server.go
Labels: cli, server, kubernetes, tailscale, security, observability, models

fix markdownlint-cli error
  .markdownlint-cli2.yaml
  docs/getting-started/comprehensive.md
  docs/getting-started/quick.md
  docs/package-lock.json
  docs/reference/configuration.md
Labels: documentation

fix gofmt
  arch.go
  pkg/service/api/kubeconfig_test.go
  pkg/service/api/login_test.go
Labels: server, tests

fix: address golint-sl linter violations
  cmd/cli/cmd_config.go
  cmd/cli/cmd_kubeconfig.go
  cmd/cli/cmd_login.go
  cmd/cli/cmd_shell.go
  cmd/cli/rest_client.go
  cmd/server/serve.go
  internal/cli/cmd/flags.go
  internal/cli/cmd/root.go
  internal/cli/cmd/version.go
  internal/cli/pretty_print/error.go
  internal/cli/pretty_print/pretty_helptext.go
  internal/utils/k8s_version.go
  internal/utils/o11y.go
  pkg/client/k8s/client.go
  pkg/models/api_error.go
  pkg/operator/operations.go
  pkg/operator/reconcile.go
  pkg/tshttp/server.go
  pkg/tshttp/tsnet_adapter.go
Labels: cli, server, kubernetes, tailscale, observability, models

fix: continue addressing golint-sl linter violations
  cmd/server/serve.go
  pkg/operator/operator.go
Labels: server, kubernetes

fix: add advice strings to remaining humane errors
  cmd/cli/cmd_config.go
  cmd/cli/cmd_kubeconfig.go
  cmd/cli/cmd_shell.go
  internal/cli/async_operation/tea_spinner.go
  internal/cli/async_operation/text_spinner.go
Labels: cli

wip
  cmd/cli/cmd_login.go
  cmd/cli/cmd_shell.go
  pkg/models/api_error.go
  pkg/tshttp/server.go
Labels: cli, tailscale, models

lots of cleanup
  .golint-sl.yaml
  cmd/cli/cmd_cluster_info.go
  cmd/cli/cmd_config.go
  cmd/cli/cmd_kubeconfig.go
  cmd/cli/cmd_login.go
  cmd/cli/cmd_shell.go
  cmd/cli/cmd_signout.go
  cmd/cli/main.go
  cmd/cli/rest_client.go
  cmd/server/serve.go
  internal/cli/async_operation/spinner.go
  internal/cli/async_operation/text_spinner.go
  internal/cli/pretty_print/cluster_info.go
  internal/cli/pretty_print/login_success.go
  internal/cli/pretty_print/options.go
  internal/cli/pretty_print/pretty_helptext.go
  internal/utils/interrupt_handler.go
  internal/utils/o11y.go
  pkg/client/k8s/client.go
  pkg/client/k8s/mock/service.go
  pkg/client/k8s/objects.go
  pkg/middleware/auth/gin.go
  pkg/models/api_error.go
  pkg/models/api_error_test.go
  pkg/operator/operations.go
  pkg/operator/operator.go
  pkg/operator/reconcile.go
  pkg/service/api/http_error.go
  pkg/service/api/kubeconfig.go
  pkg/service/api/login.go
  pkg/service/api/logout.go
  pkg/service/api/server_test.go
  pkg/tshttp/mock/tsnet.go
  pkg/tshttp/mock/whois_resolver.go
  pkg/tshttp/server.go
  pkg/tshttp/tailscale_test.go
Labels: cli, server, kubernetes, tailscale, security, tests, observability, models

gofmt
  cmd/server/serve.go
  pkg/middleware/auth/gin.go
  pkg/tshttp/tailscale_test.go
Labels: server, tailscale, security, tests

feat(cluster): implement GossipClient and LastWriteWinsState for gossip protocol
  pkg/cluster/client.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/last_write_wins_state_test.go
  pkg/cluster/message.go
  pkg/cluster/mock/node.go
  pkg/cluster/mock/node_test.go
  pkg/cluster/mock/state.go
  pkg/cluster/mock/state_test.go
  pkg/cluster/node.go
  pkg/cluster/state.go
  pkg/test/call_tracker.go
Labels: tests

cleanup
  cmd/gossip/server.go
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/node.go
  pkg/cluster/store.go
Labels: none

wip
  .mise.toml
  .vscode/extensions.json
  Makefile
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  cmd/gossip/main.go
  cmd/gossip/server.go
  cmd/gossip/tui.go
  hack/gossip-demo.sh
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/last_write_wins_state_test.go
  pkg/cluster/message.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/mock/node.go
  pkg/cluster/mock/node_test.go
  pkg/cluster/mock/state.go
  pkg/cluster/mock/state_test.go
  pkg/cluster/node.go
  pkg/cluster/state.go
  pkg/cluster/store.go
Labels: tests, config, build

make golangci-lint happy
  .vscode/extensions.json
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  cmd/gossip/server.go
  pkg/cluster/client.go
  pkg/cluster/messages.proto
Labels: none

fix state unmarshalling
  pkg/cluster/in_memory_store.go
  pkg/cluster/state.go
  pkg/cluster/types.go
Labels: none

use msgpack to serialize state
  .arch-go.yaml
  Makefile
  arch.go
  go.mod
  go.sum
  pkg/cluster/in_memory_store.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/last_write_wins_state_test.go
  pkg/cluster/node.go
  pkg/cluster/state.go
  pkg/cluster/types.go
Labels: tests, build
