Repository SpechtLabs/tka, changes with the labels that .github/labeler.yml gives for each.
All labels: api, cli, server, kubernetes, tailscale, security, tests, config, observability, models, documentation, build

.github/labeler.yml:

# API-related files
api:
  - changed-files:
      - any-glob-to-any-file:
          - 'api/**'
          - 'pkg/swagger/**'

# CLI-related files
cli:
  - changed-files:
      - any-glob-to-any-file:
          - 'cmd/cli/**'
          - 'internal/cli/**'

# Server-related files
server:
  - changed-files:
      - any-glob-to-any-file:
          - 'cmd/server/**'
          - 'pkg/service/**'

# Kubernetes/Operator-related files
kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - 'config/**'
          - 'pkg/operator/**'
          - 'pkg/client/k8s/**'

# Tailscale integration
tailscale:
  - changed-files:
      - any-glob-to-any-file:
          - 'pkg/tshttp/**'

# Authentication/Security/Middleware
security:
  - changed-files:
      - any-glob-to-any-file:
          - 'pkg/middleware/**'

# Tests
tests:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*_test.go'
          - '**/testdata/**'
          - '**/mock/**'

# Configuration and deployment
config:
  - changed-files:
      - any-glob-to-any-file:
          - 'config.yaml'
          - 'hack/**'

# Observability (metrics, logging)
observability:
  - changed-files:
      - any-glob-to-any-file:
          - 'internal/utils/o11y.go'
          - 'pkg/service/api/metrics.go'
          - 'pkg/operator/metrics.go'

# Models and utilities
models:
  - changed-files:
      - any-glob-to-any-file:
          - 'pkg/models/**'
          - 'pkg/service/models/**'
          - 'internal/utils/**'

# Documentation (Markdown files or docs folders)
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - 'docs/**'
          - '**/*.md'

# Build system files
build:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**'
          - 'Makefile'
          - 'Dockerfile'
          - 'go.mod'
          - 'go.sum'
          - 'renovate.json'

# Add 'enhancement' label to any PR where the head branch name starts with `feature`
enhancement:
  - head-branch:
    - '^feature'

# Add 'bug' label to any PR where the head branch name starts with `feature`
bug:
  - head-branch:
      - '^bug'
      - '^fix'

make everything generic
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  cmd/gossip/server.go
  cmd/gossip/tui.go
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/store.go
Labels: none

cleanup gossip
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/in_memory_store_test.go
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/store.go
Labels: tests

configure codecov to exclude auto generated code
  codecov.yml
Labels: none

add more tests
  pkg/cluster/in_memory_store.go
  pkg/cluster/in_memory_store_test.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/last_write_wins_state_test.go
Labels: tests

fix: improve gossip further
  .gitignore
  .mise.toml
  cmd/gossip/main.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/messages/messages.pb.go
Labels: none

generate gossip via gRPC service definition
  .mise.toml
  Makefile
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/messages/messages_grpc.pb.go
Labels: build

add tracing
  cmd/gossip/main.go
  hack/gossip-demo.sh
  pkg/cluster/client.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
Labels: config

fix more issues in gossip
  hack/gossip-demo.sh
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/store.go
Labels: config

gossip improvements
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  cmd/gossip/server.go
  cmd/gossip/tui.go
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/node.go
  pkg/cluster/peer_state_test.go
  pkg/cluster/staleness_test.go
  pkg/cluster/store.go
Labels: tests

wip
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
Labels: none

cleanup gossip implementation
  cmd/gossip/change_introducer.go
  cmd/gossip/client.go
  cmd/gossip/server.go
  cmd/gossip/tui.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/in_memory_store_test.go
  pkg/cluster/last_write_wins_state.go
  pkg/cluster/last_write_wins_state_test.go
  pkg/cluster/peer_state_test.go
  pkg/cluster/staleness_test.go
  pkg/cluster/state.go
  pkg/cluster/types.go
Labels: tests

cleanup gossip implementation
  pkg/cluster/client.go
  pkg/cluster/in_memory_store.go
  pkg/cluster/messages.proto
  pkg/cluster/messages/messages.pb.go
  pkg/cluster/messages/messages_grpc.pb.go
  pkg/cluster/store.go
Labels: none

Apply suggestions from code review
  pkg/cluster/in_memory_store.go
  pkg/cluster/state.go
Labels: none

split tshttp into http and an abstracted tailscale server implementation for better maintainablity and testability
  cmd/server/serve.go
  pkg/middleware/auth/gin.go
  pkg/middleware/auth/gin_test.go
  pkg/middleware/auth/options.go
  pkg/service/api/kubeconfig.go
  pkg/service/api/login.go
  pkg/service/api/logout.go
  pkg/service/api/metrics.go
  pkg/service/api/options.go
  pkg/service/api/server.go
  pkg/tshttp/integration_test.go
  pkg/tshttp/options.go
  pkg/tshttp/server.go
  pkg/tshttp/tailscale_test.go
  pkg/tshttp/tsnet_adapter.go
  pkg/tsnet/interfaces.go
  pkg/tsnet/mock/tsnet.go
  pkg/tsnet/mock/whois_resolver.go
  pkg/tsnet/tsnet.go
  pkg/tsnet/util.go
Labels: server, tailscale, security, tests, observability

fix markdown
  docs/getting-started/quick.md
Labels: documentation

fix api route for gossiping
  pkg/service/api/server.go
Labels: server

fix gofmt
  cmd/gossip/tui.go
  docs/getting-started/quick.md
Labels: documentation

chore: update GitHub Actions workflow and GoReleaser configuration for Docker builds
  .github/workflows/build.yaml
  .goreleaser.yaml
  Dockerfile
  Makefile
Labels: build

fix
  pkg/service/api/server.go
Labels: server

fix markdown
  .markdownlint-cli2.yaml
  README.md
  docs/guides/use-subshell.md
Labels: documentation

implement gossip clustering in tka
  cmd/server/serve.go
  config.yaml
  pkg/service/api/memberlist.go
  pkg/service/api/options.go
  pkg/service/api/server.go
  pkg/service/api/templates/memberlist.html
  pkg/service/node_metadata.go
Labels: server, config

fix documentation
  docs/getting-started/troubleshooting.md
  docs/guides/autocompletion.md
  docs/guides/shell-integration.md
  docs/guides/troubleshooting.md
  docs/guides/use-subshell.md
  docs/reference/api.md
  docs/reference/developer/request-flows.md
  docs/reference/developer/shell-integration.md
  docs/reference/developer/tailscale-server.md
  docs/understanding/architecture.md
  pkg/operator/operations.go
  pkg/operator/operator.go
  pkg/service/api/server.go
Labels: server, kubernetes, documentation

Revert "fix api route for gossiping"
  pkg/service/api/server.go
Labels: server

fix
  pkg/service/api/server.go
Labels: server

more fixes
  .pre-commit-config.yaml
  docs/.vuepress/public/swagger.json
  docs/getting-started/clustering.md
  docs/reference/configuration.md
  docs/understanding/clustering.md
  pkg/swagger/docs.go
Labels: api, documentation

wip
  config.yaml
  pkg/service/api/templates/memberlist.html
Labels: server, config

more fixes
  cmd/gossip/tui.go
  cmd/server/serve.go
  docs/.vuepress/config.ts
  docs/.vuepress/navbar.ts
  docs/.vuepress/public/swagger.json
  docs/getting-started/clustering.md
  docs/reference/configuration.md
  docs/reference/developer/architecture.md
  docs/reference/developer/request-flows.md
  docs/reference/developer/tailscale-server.md
  docs/understanding/architecture.md
  docs/understanding/clustering.md
  pkg/cluster/in_memory_store.go
  pkg/cluster/in_memory_store_test.go
  pkg/cluster/store.go
  pkg/service/api/memberlist.go
  pkg/service/api/options.go
  pkg/service/api/server.go
  pkg/service/api/server_test.go
  pkg/service/api/templates/memberlist.html
  pkg/service/docs.go
  pkg/service/models/node_metadata.go
  pkg/service/node_metadata.go
  pkg/swagger/docs.go
  pkg/swagger/swagger.json
  pkg/swagger/swagger.yaml
Labels: api, server, tests, models, documentation

fix(tshttp): update tests to match new architecture
  pkg/tshttp/tailscale_test.go
Labels: tailscale, tests

feat: publish tka via homebrew tap
  .github/workflows/release.yaml
  .goreleaser.yaml
  README.md
  cmd/cli/cmd_integration.go
  docs/getting-started/comprehensive.md
  docs/getting-started/quick.md
  docs/guides/autocompletion.md
  docs/guides/shell-integration.md
  docs/reference/cli.md
Labels: cli, documentation, build

chore: sync renovate config
  renovate.json
Labels: build

chore: sync renovate config (#355)
  renovate.json
Labels: build

fix(deps): repair go.mod and bring Go modules current
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/groupversion_info_test.go
  api/v1alpha1/tka-signin.go
  arch.go
  cmd/server/serve.go
  go.mod
  go.sum
  pkg/middleware/auth/gin.go
  pkg/middleware/auth/gin_test.go
Labels: api, server, security, tests, build

fix(deps): repair go.mod and bring Go modules current (#436)
  api/v1alpha1/groupversion_info.go
  api/v1alpha1/groupversion_info_test.go
  api/v1alpha1/tka-signin.go
  arch.go
  cmd/server/serve.go
  go.mod
  go.sum
  pkg/middleware/auth/gin.go
  pkg/middleware/auth/gin_test.go
Labels: api, server, security, tests, build

feat: publish tka via homebrew tap
  .github/workflows/release.yaml
  .goreleaser.yaml
  README.md
  cmd/cli/cmd_integration.go
  docs/getting-started/comprehensive.md
  docs/getting-started/quick.md
  docs/guides/autocompletion.md
  docs/guides/shell-integration.md
  docs/reference/cli.md
Labels: cli, documentation, build
